<body>

  <nav>
      <div class="nav-wrapper grey darken-1">
          <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="brand-logo">Newborn</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li routerLinkActive="router-link-active"><a [routerLink]="['/login']"  >Вход</a></li>
              <li routerLinkActive="router-link-active"><a [routerLink]="['/register']" > Регистрация</a></li>
          </ul>
      </div>
  </nav>

  <div class="auth-block">
      <router-outlet></router-outlet>
  </div>

  <script src="scripts/materialize.min.js"></script>
  <script src="scripts/scripts.js"></script>
  </body>
